<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eaque nulla ratione cupiditate aperiam tempore maiores voluptatum, laborum blanditiis dolore, accusantium possimus, deserunt molestiae iusto est qui voluptatem officiis.</p>
    <button>Click me</button>
    
</body>
</html>