<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1>This is home page  1+2</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= 1*2 %></h3>
    <h3><%= "ayankhan".toUpperCase() %></h3>
    <h3><%= ["APPPLE ", "MANGO ", "ORANGE", "BANANA"][0] %></h3>



    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eaque nulla ratione cupiditate aperiam tempore maiores voluptatum, laborum blanditiis dolore, accusantium possimus, deserunt molestiae iusto est qui voluptatem officiis.</p>
    <button>Click me</button>
    
</body>
</html>